<!-- Header -->
<header class="header" id="top">
  <div class="container header__inner">
    <a class="logo" href="/" aria-label="Retour à l’accueil">
      <span class="logo__mark" aria-hidden="true">
        <img
          src="/assets/logo/libellule.png"
          alt=""
          width="20"
          height="20"
          loading="eager"
        />
      </span>

      <span class="logo__content">
        <span class="logo__text">Libellya</span>
        <span class="logo__tagline">Donner des ailes à votre activité</span>
      </span>
    </a>

    <nav class="nav" aria-label="Navigation principale">
      <div class="nav__dropdown">
        <button class="nav__dropbtn" type="button" aria-expanded="false">
          Services
        </button>

        <div class="nav__dropdown-content">
          <a href="/creation-site-sur-mesure">Création de site sur mesure</a>
          <a href="/refonte-site-web">Refonte de site web</a>
          <a href="/referencement-visibilite-locale"
            >Référencement & visibilité locale</a
          >
          <a href="/google-business-profile">Fiche Google Établissement</a>
          <a href="/redaction-structuration-contenu"
            >Rédaction & structuration de contenu</a
          >
        </div>
      </div>

      <a href="/#realisations">Réalisations</a>
      <a href="/#process">Process</a>
      <a class="btn btn--sm btn--primary" href="/#contact"
        >Parler de votre projet</a
      >
    </nav>

    <button
      class="burger"
      type="button"
      aria-expanded="false"
      aria-controls="menu"
    >
      <span class="burger__label">Menu</span>
      <span class="burger__bars" aria-hidden="true">
        <span class="burger__bar"></span>
        <span class="burger__bar"></span>
        <span class="burger__bar"></span>
      </span>
    </button>
  </div>

  <!-- Menu mobile -->
  <div id="menu" class="menu" hidden>
    <div class="container menu__inner">

      <a href="/" class="menu__home">Accueil</a>
     
      <a href="/#process">Process</a>
       <a href="/#realisations">Réalisations</a>

      <div class="nav__dropdown">
        <button class="nav__dropbtn" type="button" aria-expanded="false">
          Services
        </button>

        <div class="nav__dropdown-content">
          <a href="/creation-site-sur-mesure">Création de site sur mesure</a>
          <a href="/refonte-site-web">Refonte de site web</a>
          <a href="/referencement-visibilite-locale"
            >Référencement & visibilité locale</a
          >
          <a href="/google-business-profile">Fiche Google Établissement</a>
          <a href="/redaction-structuration-contenu"
            >Rédaction & structuration de contenu</a
          >
        </div>
      </div>
      <a class="btn btn--primary" href="/#contact">Parler de votre projet</a>
    </div>
  </div>
</header>
